.form-main {
    align-items: center;
    .section {
        // NO CODE HERE
        width: 50%;
        .profile-image-preview-container {
            width: 10%;
            aspect-ratio: 1 / 1;
            .profile-image-preview {
                width: 100%;
                height: 100%;
                border-radius: $b-med;
                cursor: pointer;
            }
        }
    }
}




// Misc
input, textarea {
    font-family: $theme-font;
}
textarea {
    resize: vertical;
    height: 200px;
}
.input-main {
    width: 100%;
    padding: 0.25rem;
    background-color: $t20 !important;
    outline: transparent;
    border: 2px solid $white-30;
    border-radius: $b-med;
    color: $white-60;
    &:focus {
        border: 2px solid $t10;
    }
}
label {
    font-size: 75%;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    aspect-ratio: 1 / 1;
    border: 1px solid $white-10;
    border-radius: $b-med;
    outline: none;
    &:checked {
        background-color: $action;
    }
}