@import "theme.scss";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*:not(input, style, script, noscript, title) {
    display: flex;
}

// Misc
#logout-button, #profile-signout {
    color: $warning;
    text-decoration: underline;
}
.unfinished {
    color: red !important;
}
.title {
    margin-bottom: 2rem;
    font-size: 130%;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: currentColor;
}
p {
    margin: 0;
    font-size: 15px;
}
h1 {
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 30px;
}
h2 {
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 25px;
}
h3 {
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
}
h4 {
    margin: 0;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}
input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.btn-main {
    padding: 1%;
    background-color: $theme-10;
    border-radius: $b-med;
    border: none;
    cursor: pointer;
    color: $theme-60;
    box-shadow: 0 1px 0 0 $theme-60 inset;
    padding: 0.5rem;
    &:hover {
        opacity: $hover-opacity;
    }
}
.btn-secondary {
    padding: 1%;
    background-color: lightgray;
    border-radius: $b-med;
    border: none;
    cursor: pointer;
    color: black;
    box-shadow: 0 1px 0 0 $theme-60 inset;
    padding: 0.5rem;
    &:hover {
        opacity: $hover-opacity;
    }
}
.blurred {
    filter: blur(2rem);
    user-select: none;
    pointer-events: none;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
.twoline-ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.create-post-button-container {
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between;
    margin-bottom: 2rem;
    &> * {
        margin: 0 !important;
    }
    a, button {
        font-size: 90%;
    }
}
#change-username-modal {
    display: none;
    position: fixed;
    flex-direction: column;
    background-color: white;
    border-radius: $b-xlg;
    padding: 1rem;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50000px 50px black;
    .modal-top {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
        .title {
            margin: 0 !important;
        }
        .cancel {
            margin: 0 !important;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
        }
    }
    form {
        justify-content: center;
        width: 100%;
        gap: 10px;
        align-items: center;
        padding: 1rem;
        input {
            width: 75%;
        }
    }
}
.input-main {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid $theme-60-hover-ultradark;
    border-radius: $b-med;
    outline: none;
}
input, textarea {
    font-family: $theme-font;
}
.hidden {
    display: none !important;
}
#logout-response {
    font-size: 90%;
    font-weight: bold;
    color: $success;
    margin-bottom: 2rem;
}
.rank-admin {
    color: white;
    background-color: gold;
}
.rank-mod {
    color: white;
    background-color: blue;
}
.rank-user {
    color: white;
    background-color: $theme-10;
}
// Done with misc


// Groups:
html {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: $theme-30;
    background-color: $theme-60;
    font-family: $theme-font;
    body {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0;
        .container {
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            margin-inline: auto;
            padding: 1rem;
            min-height: 90vh;
            flex: 3;
        }
        .main-feed-container {
            padding-bottom: 0 !important;
        }
    }
}

.navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 1px 20px 0px $theme-30-hover-light;
    .layer-two {
        justify-content: flex-end;
        gap: 1rem !important;
    }
    .navbar-layer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-self: flex-end;
        gap: 2rem;
        width: 50%;
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        //background-color: $navbar-color;
        background-color: $navbar-color;
        color: $theme-60;
        .home-link {
            font-weight: 600 !important;
            font-size: 110% !important;
            border: 1px solid $navbar-color !important;
            color: $theme-10 !important;
            &:hover {
                border: 1px solid $theme-10 !important;
                background-color: $navbar-color !important;
            }
        }
        .main-button {
            font-weight: 300;
            padding: 0.5rem;
            font-size: 95%;
            border-radius: $circle;
            &:hover {
                background-color: $theme-30-hover;
            }
        }
        .reg-button {
            font-weight: 300;
            padding: 0.5rem;
            font-size: 95%;
            border-radius: $circle;
            &:hover {
                background-color: $theme-30-hover;
            }
        }
        .profile-button {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            padding: 0.5rem;
            border-radius: $circle;
            &:hover {
                background-color: $theme-30-hover;
            }
            .profile-image-container {
                width: 25px;
                aspect-ratio: 1 / 1;
                max-width: 25px;
                .profile-image {
                    width: 100%;
                    height: 100%;
                    border-radius: $circle;
                }
            }
            .username {
                font-weight: 300;
                font-size: 80%;
                color: $theme-10;
            }
        }
    }
}

.footer {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background-color: $theme-30;
    margin: 0;
    padding: 5rem;
    min-height: 250px;
    flex: 1;
    color: $theme-60;
    justify-content: center;
    align-items: center;
    .footer-sub {
        width: 75%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5rem;
        .footer-section {
            flex-direction: column;
            gap: 1rem;
            justify-content: flex-start;
            align-items: flex-start;
            .item-title {
                font-size: 100%;
                text-decoration: underline;
            }
            .item {
                gap: 10px;
                align-items: flex-start;
                justify-content: center;
                &:hover {
                    text-decoration: underline;
                }
                .item-image-container {
                    width: 15px;
                    height: 15px;
                    .item-image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .item-content {
                    font-size: 80% !important;
                }
            }
        }
    }
}

.registration-form {
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    max-width: 100%;
    .section {
        flex-direction: column;
        .registration-meta {
            margin-bottom: 15px;
        }
        label, .registration-meta, .reg-error, .reg-success, .reg-warning {
            font-size: 75%;
        }
        .text-input {
            font-size: 90%;
        }
        .reg-error {
            color: $error;
        }
        .reg-success {
            color: $success;
        }
        .reg-warning {
            color: $warning;
        }
    }
    .preview-container {
        .image-preview {
            display: none;
            width: 100%;
        }
    }
    .image-select {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .final-section {
        flex-direction: row;
        justify-content: center;
    }
}

.posts-container {
    flex-direction: column;
    border-inline: 1px solid $theme-30-hover-light;
    width: 550px;
    &:last-child {
        border-bottom: 1px solid $theme-30-hover-light;
    }
}
// General posts
.post {
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding: 1rem;
    border-top: 1px solid $theme-30-hover-light;
    .content {
        flex-direction: column;
        gap: 8px;
        .post-title {
            display: block;
            font-size: 110%;
            color: $link;
            &:hover {
                color: $link-hover;
                text-decoration: underline;
            }
        }
        .text-preview {
            font-size: 90%;
        }
    }
    #edited-by-user {
        justify-content: flex-end !important;
        .user .username {
            color: darkorange;
        }
    }
    .meta {
        gap: 12px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        #post-type {
            font-weight: bold;
        }
        .meta-info {
            font-size: 75%;
        }
        .user {
            align-items: center;
            gap: 8px;
            justify-self: flex-end;
            border: 1px solid $theme-10;
            border-radius: $b-med;
            padding: 0.25rem;
            .user-image-container {
                width: 16px;
                aspect-ratio: 1 / 1;
                .user-image {
                    width: 100%;
                    height: 100%;
                    border-radius: $b-sm;
                }
            }
            .username {
                font-size: 75%;
                text-decoration: underline;
                color: $link;
                &:hover {
                    color: $link-hover;
                    text-decoration: underline;
                }
            }
            .time {
                font-size: 75%;
            }
        }
    }
}

.profile-container {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    background-color: $theme-60-hover;
    #profile-top-minimized {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        border: none;
        background-color: $theme-30 !important;
    }
    .profile-top {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        padding: 2rem;
        width: 100%;
        border-bottom: 8px solid $theme-10;
        border-bottom-right-radius: 20%;
        background-color: $theme-60;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .profile-top-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding: 1rem;
            .profile-image {
                width: 250px;
                aspect-ratio: 1 / 1;
                .main-image-on-hover {
                    cursor: pointer;
                    &:hover {
                        opacity: 0.75;
                    }
                }
                .main-image {
                    width: 100%;
                    height: 100%;
                    border-radius: $b-xlg;
                    box-shadow: 
                        0 0 2px 5px $theme-10-hover-ultra-ultralight,
                        0 0 5px 5px $theme-10-hover-ultra-ultralight,
                        0 0 2px 5px $theme-10-hover-ultra-ultralight;
                }
            }
        }
    }
    .profile-bottom {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        padding: 2rem;
        padding-top: 0;
        width: 100%;
        .profile-meta {
            flex-direction: column;
            justify-content: center;
            flex: 2;
            width: 100% !important;
            .profile-meta-sub {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 1rem;
                box-shadow: 0 0px 5px 5px $theme-60-hover-ultradark;
                border-radius: $b-lg;
                padding: 0;
                gap: 0;
                #username-section {
                    border-top-right-radius: $b-lg;
                    border-top-left-radius: $b-lg;
                    border-top: none !important;
                    background-color: $theme-30;
                    color: white;
                    justify-content: space-between;
                }
                .meta-section {
                    gap: 15px;
                    background-color: $theme-60;
                    width: 100%;
                    padding: 0.5rem;
                    border-top: 1px solid $theme-60-hover-ultradark;
                    &:first-child {
                        border-top: none;
                    }
                    &:last-child {
                        border-bottom-right-radius: $b-lg;
                        border-bottom-left-radius: $b-lg;
                    }
                    #profile-name {
                        font-size: 180%;
                    }
                    #rank {
                        font-size: 90%;
                        padding: 10px;
                        font-weight: bold;
                        border-radius: $b-med;
                    }
                    .meta-label {
                        font-weight: bold;
                    }
                    .meta-item {

                    }
                }
            }
        }
        .profile-feed {
            flex-direction: column;
            justify-content: center;
            flex: 3;
            .feed-meta {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 2;
                width: 100% !important;
                padding: 1rem;
                .feed-meta-sub {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0px 5px 5px $theme-60-hover-ultradark;
                    width: 100% !important;
                    border-top-right-radius: $b-lg;
                    border-top-left-radius: $b-lg;
                    .feed-meta-title {
                        border-top-right-radius: $b-lg;
                        border-top-left-radius: $b-lg;
                        border-top: none !important;
                        background-color: $theme-30 !important;
                        font-size: 180%;
                        padding: 0.5rem !important;
                        color: white;
                    }
                    .feed-meta-description {
                        background-color: $theme-60;
                        width: 100%;
                        padding: 0.5rem !important;
                    }
                    .content {
                        flex-direction: row;
                        justify-content: center;
                        padding: 1rem;
                        width: 100%;
                    }
                }
            }
            .feed-sub {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100% !important;
                gap: 35px;
                padding: 1rem;
                max-height: 2500px;
                overflow: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                  }
                .post {
                    flex-direction: column;
                    width: 100% !important;
                    padding: 1rem;
                    box-shadow: 0 0px 5px 5px $theme-60-hover-ultradark;
                    border-radius: $b-lg;
                    background-color: $theme-60;
                }
            }
        }
        .profile-settings {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 2;
            width: 100% !important;
            padding: 1rem;
            .settings-sub {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0px 5px 5px $theme-60-hover-ultradark;
                border-radius: $b-lg;
                width: 100% !important;
                #title {
                    font-size: 180%;
                    padding: 0.5rem;
                    &:hover {
                        background-color: $theme-30;
                        cursor: default;
                    }
                }
                .setting {
                    flex-direction: row;
                    justify-content: center;
                    padding: 1rem;
                    padding-inline: 3rem;
                    background-color: $theme-60;
                    transition: all 0.25s;
                    width: 100%;
                    cursor: pointer;
                    border-top: 1px solid $theme-60-hover-ultradark;
                    &:first-child {
                        border-top-right-radius: $b-lg;
                        border-top-left-radius: $b-lg;
                        border-top: none !important;
                        background-color: $theme-30;
                        color: white;
                    }
                    &:last-child {
                        border-bottom-right-radius: $b-lg;
                        border-bottom-left-radius: $b-lg;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                    }
                    &:hover {
                        background-color: $theme-10;
                        color: white;
                    }
                }
                #delete-account:hover {
                    background-color: $error !important;
                    color: white !important;
                }
                #profile-signout:hover {
                    background-color: $warning !important;
                    color: white !important;
                }
            }
        }
    }
}

.create-post-container {
    flex-direction: column;
    justify-self: center;
    border: 1px solid $theme-60-hover-ultradark;
    border-radius: $b-med;
    padding: 2rem;
    width: 650px;
    .title {
        margin-bottom: 0 !important;
    }
    .create-post-form {
        margin-top: 2rem;
        flex-direction: column;
        align-self: center;
        gap: 2rem;
        width: 100%;
    }
}
.section {
    flex-direction: column;
    gap: 0.1rem;
    label {
        font-size: 80%;
    }
    .body-text {
        resize: vertical;
        height: 155px;
        min-height: 155px;
    }
    .tags-list {
        gap: 10px;
        .tag {
            padding: 0.3rem;
            background-color: $theme-10-hover-ultra-ultralight;
            border-radius: $b-med;
            border: 1px solid $theme-10-hover-ultra-ultralight;
            cursor: pointer;
            &:hover {
                border: 1px solid $theme-10;
            }
        }
    }
    .tags-list {
        width: 100%;
        padding: 0.5rem;
        border: 2px solid $theme-60-hover-ultradark;
        border-radius: $b-med;
        height: 50px;
    }
}
.buttons {
    flex-direction: row !important;
    align-self: flex-end !important;
    gap: 0.5rem;
}
