@import "theme.scss";
@import "misc.scss";
@import "navbar.scss";
@import "forms.scss";


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*:not(input, style, script, noscript, title) {
    display: flex;
}
html {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: $t30;
    background-color: $t40;
    font-family: $theme-font;
    body {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        margin: 0;
        .container {
            flex-direction: column;
            justify-content: flex-start;
            margin: 0;
            margin-inline: auto;
            padding: 1rem;
            padding-top: 0;
            padding-bottom: 0;
            min-height: 90vh;
            width: 100%;
        }
    }
}

.main-object {
    justify-content: center;
    background-color: $t50;
    color: $white-10;
    gap: 1rem;
    padding: 1rem;
}
.section {
    gap: 0.25rem;
    .heading {
        font-size: 120%;
    }
    .subheading {
        font-size: 90%;
    }
}