@import "theme.scss";

.modal-main {
    display: none;
    position: absolute;
    padding: 0.75rem;
    background-color: $theme-60;
    border: 0.5px solid $theme-30-hover-light;
    border-radius: $b-med;
    box-shadow: 0 1px 5px 0px $theme-30-hover-light;
    z-index: 100;
    &::before {
        content: '';
        position: absolute;
        top: -7px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $theme-30-hover-light;
        transform-origin: 0 0;
    }
    .modal-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        .modal-sub-section {
            flex-direction: row;
            align-items: center;
            .modal-title {
                font-size: 120%;
            }
        }
    }
    .final-section {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end !important;
        align-items: flex-end !important;
        gap: 0.5rem;
    }
}


#create-post-ask-type-modal {
    flex-direction: column;
    top: 110%;
    right: 5%;
    gap: 1rem;
    &::before {
        left: 93% !important;
    }
    #selections {
        flex-direction: row;
        .option {
            font-size: 75%;
        }
    }
    .final-section {
        border-top: 1px solid $theme-30-hover-light;
        padding-top: 0.75rem;
    }
}