.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $t60;
    padding: 0.5rem;
    color: $white-10;
    .nav-sub {
        justify-content: space-between;
        align-items: center;
        .main, .secondary {
            align-items: center;
            gap: 1rem;
            .site-title {
                font-size: 120%;
                font-weight: bold;
            }
            .site-title, .button {
                padding: 0.5rem;
                border: 2px solid $t50;
                border-radius: $circle;
            }
            .nav-hover-animation {
                transition: border-color 0.3s ease;
                &:hover {
                    border-color: $white-10;
                }
            }
        }
        .account {
            position: relative;
            .button {
                align-items: center;
                gap: 10px;
                cursor: pointer;
                user-select: none;
                color: $action;
                .nav-dropdown-image {
                    width: 20px;
                    height: 20px;
                    aspect-ratio: 1 / 1;
                    transition: transform 0.3s ease;
                }
            }
            #account-dropdown {
                position: absolute;
                gap: 1rem;
                .heading-container {
                    align-items: center;
                    gap: 2px;
                    letter-spacing: 1px;
                    .heading, .username {
                        font-size: 120%;
                    }
                    .username {
                        color: cyan;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .dropdown-section {
                    border-bottom: 1px solid $white-10;
                    .label {
                        font-weight: bold;
                    }
                }
                .user-badges {

                }
                .login-status-section {
                    border-top: 1px solid $white-10;
                    .reg-button {
                        margin: 0.75rem;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    #signout {
                        color: $action;
                    }
                }
            }
        }
    }
}