@import "theme.scss";

.post-page-container {
    .section-wrap {
        flex-wrap: wrap;
    }
    .post-section {
        .sub-section {
            .by {

            }
            .by-link {
                color: $link;
                &:hover {
                    color: $link-hover;
                }
            }
        }
    }
}