



// Colors
// Theme
$t60: #101110;
    $t50: lighten($t60, 10%);
    $t40: lighten($t50, 10%);
        $t30: lighten($t40, 10%);
            $t20: lighten($t30, 10%);
            $t10: #2AA00A;
$white-60: white;
    $white-30: darken($white-60, 10%);
    $white-10: darken($white-30, 10%);
// Error/success/warning
$success: $t10;
$error: #EA0303;
$warning: gold;
// Actions
$action: gold;

// Hover colors
$hover-opacity: 0.75;

// Fonts
$theme-font: 'Nunito', sans-serif;


// Borders
$b-xlg: 15px;
$b-lg: 10px;
$b-med: 5px;
$b-sm: 3px;
$circle: 500px;




// Theme
.t1 {
    width: 100%;
    height: 30px;
    background-color: $t60;
}
.t2 {
    width: 100%;
    height: 30px;
    background-color: $t50;
}
.t3 {
    width: 100%;
    height: 30px;
    background-color: $t40;
}
.t4 {
    width: 100%;
    height: 30px;
    background-color: $t30;
}
.t5 {
    width: 100%;
    height: 30px;
    background-color: $t20;
}
.t6 {
    width: 100%;
    height: 30px;
    background-color: $t10;
}
.t7 {
    width: 100%;
    height: 30px;
    background-color: $white-60;
}
.t8 {
    width: 100%;
    height: 30px;
    background-color: $white-30;
}
.t9 {
    width: 100%;
    height: 30px;
    background-color: $white-10;
}