

// Colors

$theme-60: #FDFDFD; // #FDFDFD
$theme-30: #313535; // #313535
//$theme-10: #036AF7; // #036AF7
$theme-10: #2AA00A; // #2AA00A
$error: #C50101;
$success: #04D007;
$warning: gold;
$link: lighten($theme-10, 10%);

// Hover colors
$hover-opacity: 0.75; 
$theme-60-hover: darken($theme-60, 10%);
$theme-60-hover-ultradark: darken($theme-60-hover, 15%);
$theme-30-hover: darken($theme-30, 25%);
$theme-10-hover: darken($theme-10, 25%);
$theme-10-hover-ultralight: lighten($theme-10, 25%);
$theme-10-hover-ultra-ultralight: lighten($theme-10-hover-ultralight, 25%);
$theme-30-hover-light: lighten($theme-30, 45%);
$navbar-color: darken($theme-60, 3%);
$link-hover: lighten($link, 10%);

// Fonts
//$font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$theme-font: 'Nunito', sans-serif;


// Borders
$b-xlg: 15px;
$b-lg: 10px;
$b-med: 5px;
$b-sm: 3px;
$circle: 500px;


// Testing
.color-60 {
    background-color: $theme-60;
    width: 300px;
    height: 100px;
}
.color-30 {
    background-color: $theme-30;
    width: 300px;
    height: 40px;
    color: white;
}
.color-10 {
    background-color: $theme-10;
    width: 300px;
    height: 20px;
    color: white;
}