.t1 {
  width: 100%;
  height: 30px;
  background-color: #101110;
}

.t2 {
  width: 100%;
  height: 30px;
  background-color: #292b29;
}

.t3 {
  width: 100%;
  height: 30px;
  background-color: #414641;
}

.t4 {
  width: 100%;
  height: 30px;
  background-color: #5a605a;
}

.t5 {
  width: 100%;
  height: 30px;
  background-color: #737a73;
}

.t6 {
  width: 100%;
  height: 30px;
  background-color: #2AA00A;
}

.t7 {
  width: 100%;
  height: 30px;
  background-color: white;
}

.t8 {
  width: 100%;
  height: 30px;
  background-color: #e6e6e6;
}

.t9 {
  width: 100%;
  height: 30px;
  background-color: #cccccc;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:not(input, style, script, noscript, title) {
  display: flex;
}

.success {
  color: #2AA00A;
}

.warning {
  color: gold;
}

.error {
  color: #EA0303;
}

.title {
  margin-bottom: 2rem;
  font-size: 130%;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
  font-size: 15px;
}

h1 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 30px;
}

h2 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 25px;
}

h3 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
}

h4 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
}

.btn-main {
  padding: 1%;
  background-color: #5a605a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 0 0 white inset;
  padding: 0.5rem;
}
.btn-main:hover {
  opacity: 0.75;
}

.btn-secondary {
  padding: 1%;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: black;
  box-shadow: 0 1px 0 0 white inset;
  padding: 0.5rem;
}
.btn-secondary:hover {
  opacity: 0.75;
}

.btn-action {
  padding: 1%;
  background-color: gold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 0 0 white inset;
  padding: 0.5rem;
}
.btn-action:hover {
  opacity: 0.75;
}

.btn-warning {
  padding: 1%;
  background-color: #EA0303;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 0 0 white inset;
  padding: 0.5rem;
}
.btn-warning:hover {
  opacity: 0.75;
}

.blurred {
  filter: blur(2rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.twoline-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

html {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #5a605a;
  background-color: white;
  font-family: "Nunito", sans-serif;
}
html body {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0;
}
html body .container {
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-inline: auto;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 90vh;
  width: 100%;
  flex: 3;
}/*# sourceMappingURL=main.css.map */