.color-60 {
  background-color: #FDFDFD;
  width: 300px;
  height: 100px;
}

.color-30 {
  background-color: #313535;
  width: 300px;
  height: 40px;
  color: white;
}

.color-10 {
  background-color: #2AA00A;
  width: 300px;
  height: 20px;
  color: white;
}

.color-60 {
  background-color: #FDFDFD;
  width: 300px;
  height: 100px;
}

.color-30 {
  background-color: #313535;
  width: 300px;
  height: 40px;
  color: white;
}

.color-10 {
  background-color: #2AA00A;
  width: 300px;
  height: 20px;
  color: white;
}

.form-main {
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}
.form-main .final-section {
  flex-wrap: wrap;
}
.form-main .form-section, .form-main .final-section {
  flex-direction: column;
  gap: 8px;
}
.form-main .form-section .response, .form-main .final-section .response {
  font-weight: bold;
}
.form-main .form-section #error, .form-main .final-section #error {
  color: #EA0303;
}
.form-main .form-section #warning, .form-main .final-section #warning {
  color: gold;
}
.form-main .form-section #success, .form-main .final-section #success {
  color: #04D007;
}
.form-main .form-section .form-title, .form-main .final-section .form-title {
  font-size: 120%;
}
.form-main .form-section .main-label, .form-main .final-section .main-label {
  font-weight: bold;
}
.form-main .form-section label, .form-main .final-section label {
  font-size: 80%;
}
.form-main .form-section label .label-link, .form-main .final-section label .label-link {
  color: #37d00d;
  text-decoration: underline;
}
.form-main .form-section label .label-link:hover, .form-main .final-section label .label-link:hover {
  color: #4cf11f;
}
.form-main .form-section .tags-list, .form-main .final-section .tags-list {
  gap: 10px;
}
.form-main .form-section .tags-list .tag, .form-main .final-section .tags-list .tag {
  padding: 0.3rem;
  background-color: #bffaaf;
  border-radius: 5px;
  border: 1px solid #bffaaf;
  cursor: pointer;
}
.form-main .form-section .tags-list .tag:hover, .form-main .final-section .tags-list .tag:hover {
  border: 1px solid #2AA00A;
}
.form-main .form-section .tags-list, .form-main .final-section .tags-list {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  height: 50px;
}
.form-main .final-section {
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}

input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

textarea {
  min-height: 155px;
}

input, textarea {
  font-family: "Nunito", sans-serif;
}

.input-main {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  outline: none;
}

.input-hidden {
  display: none;
}

.color-60 {
  background-color: #FDFDFD;
  width: 300px;
  height: 100px;
}

.color-30 {
  background-color: #313535;
  width: 300px;
  height: 40px;
  color: white;
}

.color-10 {
  background-color: #2AA00A;
  width: 300px;
  height: 20px;
  color: white;
}

.post-page-container {
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.post-page-container .section-wrap {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.post-page-container .vote-container {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.post-page-container .vote-container .vote-subcontainer {
  flex-direction: column;
  align-items: center;
}
.post-page-container .vote-container .vote-subcontainer .icon-container {
  width: 20px;
  aspect-ratio: 1/1;
}
.post-page-container .vote-container .vote-subcontainer .icon-container .icon {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.post-page-container .vote-container .vote-subcontainer .icon-container .icon:hover {
  cursor: pointer;
  opacity: 0.45;
}
.post-page-container .vote-container .vote-subcontainer .vote-count {
  font-weight: bold;
}
.post-page-container .post-section .user-data {
  gap: 10px;
  align-items: center;
  background-color: #e5fddf;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #5ff337;
}
.post-page-container .post-section .user-data .user-image-container {
  width: 20px;
  aspect-ratio: 1/1;
}
.post-page-container .post-section .user-data .user-image-container .user-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.post-page-container .post-section .user-data .by {
  margin: 0;
  padding: 0;
  font-size: 80%;
}
.post-page-container .post-section .user-data .by-link {
  font-size: 80%;
  color: #37d00d;
  text-decoration: underline;
}
.post-page-container .post-section .user-data .by-link:hover {
  color: #4cf11f;
}
.post-page-container .post-section #edited-by .by-link {
  color: darkorange;
}
.post-page-container .post-section #edited-by .by-link:hover {
  color: #ffaf4d;
}
.post-page-container .post-section .post-title {
  font-size: 120%;
}
.post-page-container .post-section .meta {
  font-size: 80%;
}
.post-page-container .post-section .post-image {
  width: 100%;
  max-width: 50%;
}
.post-page-container .post-meta {
  border: 1px solid #a2a9a9;
  padding: 0.5rem;
  border-radius: 5px;
}
.post-page-container .post-meta .tag {
  font-size: 80%;
  background-color: #e5fddf;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #5ff337;
}
.post-page-container .images-section {
  gap: 0 !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.post-page-container .images-section .image-container {
  justify-content: center;
  align-items: center;
  max-width: 50%;
  aspect-ratio: 1/1;
  background-color: #313535;
}
.post-page-container .images-section .image-container .post-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.color-60 {
  background-color: #FDFDFD;
  width: 300px;
  height: 100px;
}

.color-30 {
  background-color: #313535;
  width: 300px;
  height: 40px;
  color: white;
}

.color-10 {
  background-color: #2AA00A;
  width: 300px;
  height: 20px;
  color: white;
}

.container_main .container-main-pagination-container {
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  gap: 8px;
  border-top: 1px solid #a2a9a9 !important;
}
.container_main .container-main-pagination-container .pag-button {
  font-size: 85%;
}
.container_main .container-main-pagination-container .pag-button:hover {
  text-decoration: underline;
}
.container_main .container-main-pagination-container #delimiter:hover {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:not(input, style, script, noscript, title) {
  display: flex;
}

.success {
  color: #04D007;
}

.warning {
  color: gold;
}

.error {
  color: #EA0303;
}

#logout-button, #profile-signout {
  color: gold;
  text-decoration: underline;
}

.unfinished {
  color: red !important;
}

.title {
  margin-bottom: 2rem;
  font-size: 130%;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
  font-size: 15px;
}

h1 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 30px;
}

h2 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 25px;
}

h3 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
}

h4 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
}

.btn-main {
  padding: 1%;
  background-color: #2AA00A;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #FDFDFD;
  box-shadow: 0 1px 0 0 #FDFDFD inset;
  padding: 0.5rem;
}
.btn-main:hover {
  opacity: 0.75;
}

.btn-secondary {
  padding: 1%;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: black;
  box-shadow: 0 1px 0 0 #FDFDFD inset;
  padding: 0.5rem;
}
.btn-secondary:hover {
  opacity: 0.75;
}

.btn-warning {
  padding: 1%;
  background-color: #EA0303;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 0 0 #FDFDFD inset;
  padding: 0.5rem;
}
.btn-warning:hover {
  opacity: 0.75;
}

.blurred {
  filter: blur(2rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.twoline-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.create-post-button-container {
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.create-post-button-container > * {
  margin: 0 !important;
}
.create-post-button-container a, .create-post-button-container button {
  font-size: 90%;
}

.profile-modal {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50000px 50px black;
}
.profile-modal .modal-top {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-modal .modal-top .title {
  margin: 0 !important;
}
.profile-modal .modal-top .cancel {
  margin: 0 !important;
  cursor: pointer;
}
.profile-modal .modal-top .cancel:hover {
  opacity: 0.75;
}
.profile-modal form {
  justify-content: center;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding: 1rem;
}
.profile-modal form input {
  width: 75%;
}

.hidden {
  display: none !important;
}

#logout-response {
  font-size: 90%;
  font-weight: bold;
  color: #04D007;
  margin-bottom: 2rem;
}

.rank-admin {
  color: white;
  background-color: gold;
}

.rank-mod {
  color: white;
  background-color: blue;
}

.rank-user {
  color: white;
  background-color: #2AA00A;
}

li {
  display: list-item;
}

html {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #313535;
  background-color: #FDFDFD;
  font-family: "Nunito", sans-serif;
}
html body {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 0;
}
html body .container {
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-inline: auto;
  padding: 1rem;
  min-height: 90vh;
  width: 100%;
  flex: 3;
}
html body .container .container_sub {
  flex-direction: row;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
}
html body .container .container_sub .container_left, html body .container .container_sub .container_right {
  flex: 1;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: scroll;
  max-height: 500px;
}
html body .container .container_sub .container_left::-webkit-scrollbar, html body .container .container_sub .container_right::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
html body .container .container_sub .container_main {
  flex-direction: column;
  flex: 1.5;
  border-inline: 1px solid #a2a9a9;
  overflow-y: scroll;
  max-height: 1200px;
}
html body .container .container_sub .container_main::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
html body .main-feed-container {
  padding-bottom: 0 !important;
}

@media (max-width: 925px) {
  .container_sub {
    flex-direction: column;
    max-width: 100vw;
    gap: 1rem;
  }
  .container_left {
    order: 0;
    min-width: 100%;
    max-height: none;
  }
  .container_main {
    order: 1;
    min-width: 100%;
    max-height: none;
  }
  .container_right {
    order: 2;
    min-width: 100%;
    max-height: 100%;
    border-top: 1px solid #a2a9a9;
  }
}
.container-main-title-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center !important;
  padding: 0.5rem;
  border-top: 1px solid #a2a9a9;
}
.container-main-title-container .title {
  margin: 0;
}

#news-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
}

#news-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.news {
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  padding-inline: 0;
  padding-top: 0;
  background-color: #EAE9C4;
  border-radius: 10px;
  border: 1px solid #cfcd79;
  position: sticky;
}
.news .collapse {
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.news .collapse .title {
  margin: 0.25rem;
  padding-inline: 0.5rem;
}
.news .collapse #news-collapse {
  color: #a7a43b;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.news .news_item {
  width: 100%;
  flex-direction: column;
  border-top: 1px solid #cfcd79;
  padding: 0.5rem;
  gap: 0.5rem;
}
.news .news_item .top, .news .news_item .bottom {
  padding-inline: 0.5rem;
}
.news .news_item .top {
  flex-direction: row;
  gap: 5px;
}
.news .news_item .top .item_title, .news .news_item .top .item_date {
  font-weight: bold;
  font-size: 90%;
}
.news .news_item .bottom {
  gap: 1rem;
  flex-direction: column;
  padding-inline: 1rem;
}
.news .news_item .bottom .section .section-title {
  font-size: 85%;
  font-weight: bold;
}
.news .news_item .bottom .section ol {
  flex-direction: column;
  list-style-type: disc;
  font-size: 75%;
}

.navbar {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 1px 20px 0px #a2a9a9;
}
.navbar .layer-two {
  justify-content: flex-end;
  gap: 1rem !important;
}
.navbar .navbar-layer {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-self: flex-end;
  gap: 2rem;
  width: 50%;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #191b1b;
  color: #FDFDFD;
}
.navbar .navbar-layer .home-link {
  font-weight: 600 !important;
  font-size: 110% !important;
  border: 1px solid #191b1b !important;
  color: #2AA00A !important;
}
.navbar .navbar-layer .home-link:hover {
  border: 1px solid #2AA00A !important;
  background-color: #191b1b !important;
}
.navbar .navbar-layer .main-button {
  font-weight: 300;
  padding: 0.5rem;
  font-size: 95%;
  border-radius: 500px;
}
.navbar .navbar-layer .main-button:hover {
  background-color: black;
}
.navbar .navbar-layer .reg-button {
  font-weight: 300;
  padding: 0.5rem;
  font-size: 95%;
  border-radius: 500px;
}
.navbar .navbar-layer .reg-button:hover {
  background-color: black;
}
.navbar .navbar-layer .profile-button {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  border-radius: 500px;
}
.navbar .navbar-layer .profile-button:hover {
  background-color: black;
}
.navbar .navbar-layer .profile-button .profile-image-container {
  width: 25px;
  aspect-ratio: 1/1;
  max-width: 25px;
}
.navbar .navbar-layer .profile-button .profile-image-container .profile-image {
  width: 100%;
  height: 100%;
  border-radius: 500px;
}
.navbar .navbar-layer .profile-button .username {
  font-weight: 300;
  font-size: 80%;
  color: #2AA00A;
}

.footer {
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  background-color: #313535;
  margin: 0;
  padding: 5rem;
  min-height: 250px;
  flex: 1;
  color: #FDFDFD;
  justify-content: center;
  align-items: center;
}
.footer .footer-sub {
  width: 75%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5rem;
}
.footer .footer-sub .footer-section {
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer .footer-sub .footer-section .item-title {
  font-size: 100%;
  text-decoration: underline;
}
.footer .footer-sub .footer-section .item {
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer-sub .footer-section .item:hover {
  text-decoration: underline;
}
.footer .footer-sub .footer-section .item .item-image-container {
  width: 15px;
  height: 15px;
}
.footer .footer-sub .footer-section .item .item-image-container .item-image {
  width: 100%;
  height: 100%;
}
.footer .footer-sub .footer-section .item .item-content {
  font-size: 80% !important;
}

.registration-form {
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  max-width: 100%;
}
.registration-form .section {
  flex-direction: column;
}
.registration-form .section .registration-meta {
  margin-bottom: 15px;
}
.registration-form .section label, .registration-form .section .registration-meta, .registration-form .section .reg-error, .registration-form .section .reg-success, .registration-form .section .reg-warning {
  font-size: 75%;
}
.registration-form .section .text-input {
  font-size: 90%;
}
.registration-form .section .reg-error {
  color: #EA0303;
}
.registration-form .section .reg-success {
  color: #04D007;
}
.registration-form .section .reg-warning {
  color: gold;
}
.registration-form .preview-container .image-preview {
  display: none;
  width: 100%;
}
.registration-form .image-select {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.registration-form .final-section {
  flex-direction: row;
  justify-content: center;
}

.posts-container {
  flex-direction: column;
  border-inline: 1px solid #a2a9a9;
  width: 550px;
}
.posts-container:last-child {
  border-bottom: 1px solid #a2a9a9;
}

.post {
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 1rem;
  border-top: 1px solid #a2a9a9;
}
.post .content {
  flex-direction: column;
  gap: 8px;
}
.post .content .post-title {
  display: block;
  font-size: 110%;
  color: #37d00d;
}
.post .content .post-title:hover {
  color: #4cf11f;
  text-decoration: underline;
}
.post .content .text-preview {
  font-size: 90%;
}
.post #edited-by-user {
  justify-content: flex-end !important;
}
.post #edited-by-user .user .username {
  color: darkorange;
}
.post .meta {
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.post .meta #post-type {
  font-weight: bold;
}
.post .meta .meta-info {
  font-size: 75%;
}
.post .meta .user {
  align-items: center;
  gap: 8px;
  justify-self: flex-end;
  border: 1px solid #2AA00A;
  border-radius: 5px;
  padding: 0.25rem;
}
.post .meta .user .user-image-container {
  width: 16px;
  aspect-ratio: 1/1;
}
.post .meta .user .user-image-container .user-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.post .meta .user .username {
  font-size: 75%;
  text-decoration: underline;
  color: #37d00d;
}
.post .meta .user .username:hover {
  color: #4cf11f;
  text-decoration: underline;
}
.post .meta .user .time {
  font-size: 75%;
}

.profile-container {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  background-color: #e4e4e4;
}
.profile-container #profile-top-minimized {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  border: none;
  background-color: #313535 !important;
}
.profile-container .profile-top {
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 2rem;
  width: 100%;
  border-bottom: 8px solid #2AA00A;
  border-bottom-right-radius: 20%;
  background-color: #FDFDFD;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-container .profile-top .profile-top-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 1rem;
}
.profile-container .profile-top .profile-top-content .profile-image {
  width: 250px;
  aspect-ratio: 1/1;
}
.profile-container .profile-top .profile-top-content .profile-image .main-image-on-hover {
  cursor: pointer;
}
.profile-container .profile-top .profile-top-content .profile-image .main-image-on-hover:hover {
  opacity: 0.75;
}
.profile-container .profile-top .profile-top-content .profile-image .main-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 2px 5px #bffaaf, 0 0 5px 5px #bffaaf, 0 0 2px 5px #bffaaf;
}
.profile-container .profile-bottom {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
}
.profile-container .profile-bottom .profile-meta {
  flex-direction: column;
  justify-content: center;
  flex: 2;
  width: 100% !important;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
  box-shadow: 0 0px 5px 5px #bdbdbd;
  border-radius: 10px;
  padding: 0;
  gap: 0;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub #username-section {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: none !important;
  background-color: #313535;
  color: white;
  justify-content: space-between;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub .meta-section {
  gap: 15px;
  background-color: #FDFDFD;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid #bdbdbd;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub .meta-section:first-child {
  border-top: none;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub .meta-section:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub .meta-section #profile-name {
  font-size: 180%;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub .meta-section #rank {
  font-size: 90%;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
.profile-container .profile-bottom .profile-meta .profile-meta-sub .meta-section .meta-label {
  font-weight: bold;
}
.profile-container .profile-bottom .profile-feed {
  flex-direction: column;
  justify-content: center;
  flex: 3;
}
.profile-container .profile-bottom .profile-feed .feed-meta {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  width: 100% !important;
  padding: 1rem;
}
.profile-container .profile-bottom .profile-feed .feed-meta .feed-meta-sub {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px 5px #bdbdbd;
  width: 100% !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.profile-container .profile-bottom .profile-feed .feed-meta .feed-meta-sub .feed-meta-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: none !important;
  background-color: #313535 !important;
  font-size: 180%;
  padding: 0.5rem !important;
  color: white;
}
.profile-container .profile-bottom .profile-feed .feed-meta .feed-meta-sub .feed-meta-description {
  background-color: #FDFDFD;
  width: 100%;
  padding: 0.5rem !important;
}
.profile-container .profile-bottom .profile-feed .feed-meta .feed-meta-sub .content {
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.profile-container .profile-bottom .profile-feed .feed-sub {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100% !important;
  gap: 35px;
  padding: 1rem;
  max-height: 2500px;
  overflow: scroll;
}
.profile-container .profile-bottom .profile-feed .feed-sub::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.profile-container .profile-bottom .profile-feed .feed-sub .post {
  flex-direction: column;
  width: 100% !important;
  padding: 1rem;
  box-shadow: 0 0px 5px 5px #bdbdbd;
  border-radius: 10px;
  background-color: #FDFDFD;
}
.profile-container .profile-bottom .profile-settings {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  width: 100% !important;
  padding: 1rem;
}
.profile-container .profile-bottom .profile-settings .settings-sub {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px 5px #bdbdbd;
  border-radius: 10px;
  width: 100% !important;
}
.profile-container .profile-bottom .profile-settings .settings-sub #title {
  font-size: 180%;
  padding: 0.5rem;
}
.profile-container .profile-bottom .profile-settings .settings-sub #title:hover {
  background-color: #313535;
  cursor: default;
}
.profile-container .profile-bottom .profile-settings .settings-sub .setting {
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  padding-inline: 3rem;
  background-color: #FDFDFD;
  transition: all 0.25s;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid #bdbdbd;
}
.profile-container .profile-bottom .profile-settings .settings-sub .setting:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: none !important;
  background-color: #313535;
  color: white;
}
.profile-container .profile-bottom .profile-settings .settings-sub .setting:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.profile-container .profile-bottom .profile-settings .settings-sub .setting:hover {
  background-color: #2AA00A;
  color: white;
}
.profile-container .profile-bottom .profile-settings .settings-sub #delete-account:hover {
  background-color: #EA0303 !important;
  color: white !important;
}
.profile-container .profile-bottom .profile-settings .settings-sub #profile-signout:hover {
  background-color: gold !important;
  color: white !important;
}

.create-post-container {
  flex-direction: column;
  justify-self: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 2rem;
  width: 650px;
}
.create-post-container .title {
  margin-bottom: 0 !important;
}
.create-post-container .create-post-form {
  margin-top: 2rem;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
  width: 100%;
}

.section {
  flex-direction: column;
  gap: 0.1rem;
}
.section label {
  font-size: 80%;
}
.section .body-text {
  resize: vertical;
  height: 155px;
  min-height: 155px;
}
.section .tags-list {
  gap: 10px;
}
.section .tags-list .tag {
  padding: 0.3rem;
  background-color: #bffaaf;
  border-radius: 5px;
  border: 1px solid #bffaaf;
  cursor: pointer;
}
.section .tags-list .tag:hover {
  border: 1px solid #2AA00A;
}
.section .tags-list {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  height: 50px;
}

.buttons {
  flex-direction: row !important;
  align-self: flex-end !important;
  gap: 0.5rem;
}/*# sourceMappingURL=main.css.map */