.color-60 {
  background-color: #FDFDFD;
  width: 300px;
  height: 100px;
}

.color-30 {
  background-color: #313535;
  width: 300px;
  height: 40px;
  color: white;
}

.color-10 {
  background-color: #2AA00A;
  width: 300px;
  height: 20px;
  color: white;
}

.post-page-container {
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 800px;
  gap: 1rem;
}
.post-page-container .page-divider {
  width: calc(0.75rem + 100%);
  transform: translateX(-0.35rem);
  border-top: 1px solid #a2a9a9;
}
.post-page-container .section-wrap {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.post-page-container .vote-container {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}
.post-page-container .vote-container .vote-subcontainer {
  flex-direction: column;
  align-items: center;
}
.post-page-container .vote-container .vote-subcontainer .icon-container {
  width: calc(20px + 0.5rem);
  aspect-ratio: 1/1;
  border-radius: 500px;
}
.post-page-container .vote-container .vote-subcontainer .icon-container:hover {
  cursor: pointer;
  opacity: 0.45;
}
.post-page-container .vote-container .vote-subcontainer .icon-container .icon {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.post-page-container .vote-container .vote-subcontainer .vote-count {
  font-weight: bold;
}
.post-page-container .post-section .user-data {
  gap: 10px;
  align-items: center;
  background-color: #e5fddf;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #5ff337;
}
.post-page-container .post-section .user-data .user-image-container {
  width: 20px;
  aspect-ratio: 1/1;
}
.post-page-container .post-section .user-data .user-image-container .user-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.post-page-container .post-section .user-data .by {
  margin: 0;
  padding: 0;
  font-size: 80%;
}
.post-page-container .post-section .user-data .by-link {
  font-size: 80%;
  color: #37d00d;
  text-decoration: underline;
}
.post-page-container .post-section .user-data .by-link:hover {
  color: #4cf11f;
}
.post-page-container .post-section #edited-by .by-link {
  color: darkorange;
}
.post-page-container .post-section #edited-by .by-link:hover {
  color: #ffaf4d;
}
.post-page-container .post-section .post-title {
  font-size: 120%;
}
.post-page-container .post-section .meta {
  font-size: 80%;
}
.post-page-container .post-section .post-image {
  width: 100%;
  max-width: 50%;
}
.post-page-container .post-meta {
  border: 1px solid #a2a9a9;
  padding: 0.5rem;
  border-radius: 5px;
}
.post-page-container .post-meta .tag {
  font-size: 80%;
  background-color: #e5fddf;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #5ff337;
}
.post-page-container .images-section {
  gap: 0 !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.post-page-container .images-section .image-container {
  justify-content: center;
  align-items: center;
  max-width: 50%;
  aspect-ratio: 1/1;
  background-color: #313535;
}
.post-page-container .images-section .image-container .post-image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.post-page-comments {
  flex-direction: column;
  padding: 0;
  border-top: 1px solid #a2a9a9;
  gap: 0.5rem;
}
.post-page-comments .comments-list {
  flex-direction: column;
  gap: 0.5rem;
}
.post-page-comments .comments-list .comment-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-inline: 0;
  border-top: 1px solid #a2a9a9;
  /*.comment-options {
      // For later
  }*/
}
.post-page-comments .comments-list .comment-container:first-child {
  border: none;
}
.post-page-comments .comments-list .comment-container .comment-content {
  flex-direction: column;
}
.post-page-comments .comments-list .comment-container .comment-content .comment {
  font-size: 70%;
}
.post-page-comments .comments-list .comment-container .comment-content .user-link {
  font-size: 85%;
  color: #2AA00A;
}
.post-page-comments .comments-list .comment-container .comment-content .user-link:hover {
  opacity: 0.75;
  text-decoration: underline;
}
.post-page-comments .comments-list .comment-container .comment-content .comment_date {
  opacity: 0.75;
}
.post-page-comments .comment-box-write {
  flex-direction: column;
  width: 100%;
}
.post-page-comments .comment-box-write .textarea-container {
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}
.post-page-comments .comment-box-write .textarea-container .comment-textbox {
  resize: none;
  width: 100%;
  min-height: auto !important;
  padding: 0.5rem;
  overflow-y: hidden;
  outline: 2px solid transparent;
}
.post-page-comments .comment-box-write .textarea-container-active .comment-textbox {
  flex: 90;
  border-radius: 5px;
}
.post-page-comments .comment-box-write .textarea-container-active .comment-textbox:focus {
  box-shadow: 0 0 0 2px #5ff337;
}
.post-page-comments .comment-box-write .textarea-container-active .post-comment-button {
  flex: 10;
  justify-content: center;
  align-items: center;
}
.post-page-comments .comment-box-write .textarea-container-inactive .comment-textbox {
  flex: 100;
  border: none;
  cursor: pointer;
}
.post-page-comments .comment-box-write .textarea-container-inactive .comment-textbox:active {
  cursor: text;
}
.post-page-comments .comment-box-write .textarea-container-inactive .comment-textbox:focus {
  cursor: text;
}
.post-page-comments .comment-box-write .textarea-container-inactive .comment-textbox:hover::-moz-placeholder {
  color: #2AA00A;
}
.post-page-comments .comment-box-write .textarea-container-inactive .comment-textbox:hover::placeholder {
  color: #2AA00A;
}
.post-page-comments .comment-box-write .textarea-container-inactive .comment-textbox:hover::-ms-input-placeholder {
  color: #2AA00A;
}
.post-page-comments .comment-box-write .textarea-container-inactive .post-comment-button {
  display: none;
}

.post-flagging {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.post-flagging .flag-image-container {
  position: relative;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 500px;
}
.post-flagging .flag-image-container .flag-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}
.post-flagging .flag-image-container .flag-image:hover {
  opacity: 1;
}
.post-flagging .flagging-modal {
  flex-direction: column;
  top: 140%;
  left: 0;
  padding: 0.75rem;
}
.post-flagging .flagging-modal::before {
  left: 1% !important;
}
.post-flagging .flagging-modal .flagging-form .section {
  flex-direction: row;
  align-items: center;
}
.post-flagging .flagging-modal .flagging-form .radio-active {
  background-color: #bdc2c2;
}
.post-flagging .flagging-modal .flagging-form .radio-section {
  gap: 1rem;
  align-items: flex-start;
  border-radius: 5px;
  padding: 0.5rem;
}
.post-flagging .flagging-modal .flagging-form .radio-section input {
  margin: 0;
}
.post-flagging .flagging-modal .flagging-form .radio-section label {
  font-weight: bold;
  font-size: 90%;
}
.post-flagging .flagging-modal .flagging-form .explanation-section {
  flex-direction: column;
  gap: 8px;
}
.post-flagging .flagging-modal .flagging-form .explanation-section label {
  font-size: 80%;
}
.post-flagging .flagging-modal .flagging-form .explanation-section .input-main {
  resize: vertical;
}
.post-flagging .flagging-modal .flagging-form .final-section {
  flex-direction: row;
  width: 100%;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  gap: 0.5rem;
}/*# sourceMappingURL=posts.css.map */